.banner-wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-bloco img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 660px;
  @media (max-width: 749px) {
    height: 550px;
  }
}

.banner-bloco picture {
  display: flex;
  justify-content: center;
}

.banner-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-height: 660px;
  @media (max-width: 749px) {
    height: 550px;
  }
}


/* Paginacao */
#banner-bloco-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 8px;
  border-radius: 4px;
  background-color: #757575;
  opacity: 1;
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease;
}


#banner-bloco-pagination .swiper-pagination-bullet-active {
  background-color: #757575;
  border: 1px solid #757575;
  width: 32px;
}

#banner-bloco-pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #E0E0E0;
  animation: progressBullet var(--swiper-time) linear forwards;
  border-radius: 4px;
}

@keyframes progressBullet {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
